body {
  background-color: aliceblue;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.board {
  background-color: mintcream;
  height: 25rem;
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.board-container p {
    text-align: center;
    font-weight: 500;
}


.square {
    border: 1px solid lightgrey;

}

#enemy-board .square {
    cursor: pointer;
}


.carrier,
.battleship,
.submarine,
.cruiser,
.destroyer {
  background-color: navy;
}

.hit {
    background-color: darkred;
}

.miss {
    background-color: lightgreen;
}

.disable-element{
    pointer-events: none;
}
